{% extends 'base.html' %}
<html>
    {% block con%}
    <h1>CREATE PAGE</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        IMAGE<input type="file" name="cpic"><br><br>
        NAME<input type="text" name="cname"><br><br>
        LEVEL<input type="number" name="clevel"><br><br>
        CLASS<input type="text" name="cjob"><br><br>
        <button>생성하기</button>
        <a href="{% url 'character:index' user.id %}"><button type="button">돌아가기</button></a>
    </form>
    {% endblock %}
</html>